<div class="col-md-12">
    <div class="form-header-title" style="display:inline-flex;position: relative;left:5em;">
        <h2 class="title" style="color:#fff;"><img src="/images/icons/icon_wise-white/chart_white.png" style="width:50px;margin-right:10px"><span style="position:relative;top:10px">Chart</span></h3>
            <div class="query-datetime" style="display: flex;position: relative;left: 2em;top:10px">
                <div  class="form-group input-with-post-icon " style="display:flex;position: relative;">
                  <h2 style="color:#fff"><%= startDate %></h2>
              </div>
              &nbsp;&nbsp;&nbsp;
              <span style="font-weight:bold;font-size:28px;color:#fff">-</span>
              &nbsp;&nbsp;&nbsp;
              <div  class="form-group input-with-post-icon " style="display:flex;position: relative;">
                <h2 style="color:#fff"><%= endDate %></h2>
            </div>
            </div>
    </div>
    <div class="button-search" style="position: relative;float:right;right:5em">
        <a href="/chart/query">
            <button type="submit" class="btn btn-search" style="background-color: #176866e3;font-size: 16px;color: white;margin:1rem 0"><img width="25" src="../images/icons/icon_wise-white/search.png"/>Search</button>
        </a>
        <a id="myBtn" class="dropbtn btn" style="background-color: #176866e3;font-size: 16px;color: white;margin:1rem 0" onclick="tablesToExcelMultiTabs(['export-chart'], ['Scada'], '', 'Excel')">
            <img width="25" src="../images/icons/icon_wise-white/excel.png"/>
            Export Excel
        </a>
    </div>
</div>