<link rel="stylesheet" href="../../css/loadpage/loadpage.css" >
<script src="../../js/loading/loading-diagram.js"></script>
    <div id="loadingspinner">
      <div class="lds-roller cf">
        <div class="box">
          <div id="loader-1"></div>
        </div>
    </div>
    <div style="font-size: 20px;color:#fff">Loading...</div>
    </div>

