<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="#"><img src="images/logo_favicon/logo-Wise.png" style="width:100px"/></a>
  
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="header-title" style="color:white">
    <h3 class="title" style="font-family: 'Montserrat', sans-serif;font-weight:700;font-size:28px;text-transform: uppercase;">Công ty cổ phần công nghệ Hợp Long</h3>
    <p style="font-size:20px;">Always Ready To Be Different</p>
  </div>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav" style="min-width: 250px;">

    <div class="md-img-avatar">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-link" href="#"><%- user %></a>
      <a class="nav-link" href="/logout">Logout</a>
    </div>
  </div>

    </div>

  </div>
  <!-- Collapsible content -->
  </nav>
  <div class="page-body-wrapper">
    <div id="slide-out" class="side-nav side wide slim">
      <ul class="custom-scrollbar">
    
        <!-- Side navigation links -->
        <li>
        <ul class="collapsible collapsible-accordion">
          <li class="item">
     

            <a class="collapsible-header waves-effect arrow-r " href="/homepage">
              <img src="images/icons/icon_wise-white/1.png" style="width:40px"/>
               <p>Diagram</p>
            </a>
          
          </li>
          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/setup">
              <img src="images/icons/icon_wise-white/2.png" style="width:40px"/>
              <p>Setup</p>
            </a>
          
          </li>
          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/chart/query">
              <img src="images/icons/icon_wise-white/3.png" style="width:40px"/>
              <p>Chart</p>
            </a>
          </li>
          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/alarm">
              <img src="images/icons/icon_wise-white/4.png" style="width:40px"/>
              <p>Alarm</p> 
            </a>
    
          </li>
          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/alarm">
              <img src="images/icons/icon_wise-white/4.png" style="width:40px"/>
              <p>Report</p> 
            </a>
    
          </li>

        </ul>

    </div>
    <!-- Noi dung body can them vao day-->
