<head>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">

</head>
<nav class="navbar navbar-expand-lg navbar-dark primary-color">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/homepage"><img src="/images/logo_favicon/logo_scada.png" style="width:150px; top: 7px; position: relative;"/></a>
  
  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="header-title" style="color:white">
    <h3 class="title" style="font-family: 'Montserrat', sans-serif;font-weight:700;font-size:28px;text-transform: uppercase;">Công ty cổ phần công nghệ Hợp Long</h3>
    <p style="font-size:20px;">Always Ready To Be Different</p>
  </div>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav" style="min-width: 270px;">

    <div class="md-img-avatar">

  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <i class="fa fa-user" style="margin-right: 5px;font-size: 25px;line-height:33px"></i>
      <a class="nav-link" href="#" style="color:#fff;font-size:18px;word-break: break-word;"><%- user %></a>
      <div class="section-tab">
        <div class="logout-form" style="margin-bottom:10px">
          <i class="fa fa-key" style="margin-right: 5px;font-size: 25px;"></i>
          <a href="/logout" style="color: white;"><span class="currentLogout" style="font-size: 18px;">Logout</span></a>
        </div>

      </div>
  
    </div>

    <style>
    .section-tab {
    display: none;
    }
    .navbar-nav i {
      color:#fff;
    }
    .navbar-nav:hover .section-tab {
      display: block;
    min-width: 200px;
    padding: 10px;
    position: absolute;
    top: 60px;
    right: 60px;
    z-index: 100;
    background: #11423740;
    }
    </style>
  </div>

    </div>

  </div>
  <!-- Collapsible content -->
  </nav>
  <div class="page-body-wrapper">
    <div id="slide-out" class="side-nav side wide slim">
      <ul class="custom-scrollbar">
    
        <!-- Side navigation links -->
        <li>
        <ul class="collapsible collapsible-accordion">
          <li class="item">
     

            <a class="collapsible-header waves-effect arrow-r " href="/homepage">
              <img src="/images/icons/icon_wise-white/diagram_white1.png" style="width:40px"/>
               <p>Diagram</p>
            </a>
          
          </li>

          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/chart/query">
              <img src="/images/icons/icon_wise-white/chart_white.png" style="width:40px"/>
              <p>Chart</p>
            </a>
          </li>
          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/alarm/1">
              <img src="/images/icons/icon_wise-white/alarm_white.png" style="width:40px"/>
              <p>Alarm</p> 
            </a>
    
          </li>
          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/report">
              <img src="/images/icons/icon_wise-white/report.png" style="width:45px"/>
              <p>Report</p> 
            </a>
    
          </li>
          <li class="item">
            <a class="collapsible-header waves-effect arrow-r" href="/setting">
              <img src="/images/icons/icon_wise-white/setting.png" style="width:40px"/>
              <p>Setting</p>
            </a>
          
          </li>
        </ul>

    </div>
    <!-- Noi dung body can them vao day-->
    <script>

      var setDefaultActive = function () {
          var path = window.location.pathname;

          var element = $("ul.collapsible-accordion li.item a.collapsible-header[href='" + path + "']");
          element.addClass("active-sidebar");

      }

      setDefaultActive()
  </script>
  <style>
        .active-sidebar {
        background:#1f695861;
        font-weight:bold;
    }
  </style>
