<!DOCTYPE html>
<html lang="en">
<head>
    <title>Wise Scada</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="images/logo_favicon/favicon-trungquandev.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/style-alarm.css">
</head>
    <%- include('./../navbar/navbar.ejs') %>

<body>
    <div class="content-wrapper" style="margin:0rem 1.5rem">
        <main style="margin-top: 25px;">

            <input id="tab1" type="radio" name="tabs" checked>
            <label for="tab1"><i class="fa fa-chart-bar" style="font-size: 26px;color:#fff"></i></label>
              
            <input id="tab2" type="radio" name="tabs">
            <label for="tab2"><i class="fa fa-table" style="font-size: 26px;color:#fff"></i> </label>
       
          <section id="content1">
            <div class="row">
              <div style="padding: 0 15px;width: calc(100%/5);float: left;">
                <div class="user-account">
                    <h3 style="text-align: center;">LVMSB1 - Current-A</h3>
                        <div style="text-align: left;line-height: 30px;" class="detail-grid">
                            <!-- <strong style="display: inline-block;"><i class="fa fa-circle" style="font-size: 24px;margin:0 10px 0 3px ; color:blue"></i></strong><span>1Voltage-AB- 388.5 V1</span><br>
                            <strong style="display: inline-block;"></strong><span>38.5 V</span><br>
                            <strong style="display: inline-block;"></strong><span>21/05/2020-08:39:44 am</span><br>
                            <strong style="display: inline-block;">Report</strong><span> 15/09/2020-10:15:39 am</span><br>
                            <strong style="display: inline-block;">Setting</strong><span>12</span><br> -->

                            <p><i class="fa fa-circle" style="font-size: 24px;color:red;margin-right: 5px;"></i><span>Voltage-AB- 388.5 V1</span></p>
                            <p><img src="../images/icons/icon_wise-white/overload.png" style="width: 30px;height: 30px;margin-right: 5px;"><span>38.5 V</span> </p>
                            <p><img src="../images/icons/icon_wise-white/createAt.png" style="width: 30px;height: 30px;margin-right: 5px;"><span>1/05/2020-08:39:44 am</span></p>
                            <p><img src="../images/icons/icon_wise-white/edit.png" style="width: 30px;height: 30px;margin-right: 5px;"><span>15/09/2020-10:15:39 am</span></p>
                            <p><img src="../images/icons/icon_wise-white/users.png" style="width: 30px;height: 30px;margin-right: 5px;"><span>hoplongtech@gmail.com</span></p>
                            <div class="label-border" style="padding:5px;box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);background-color: #2b6d7bd1"><a href="#"><label></label></a></div>
                            <p></p>
                            <div class="action-button" style="text-align:right">
                                <a href="#">
                        
                                  <button title="Edit" onclick="document.getElementById('5ec5dbe01f41500980bee473').style.display='block'" type="button" class="btn btn-default" style="background-color: #0eaf04d1;"> <img src="../images/icons/icon_wise-white/edit.png" style="width: 20px;height: 20px;"></button>

                                  </a> &nbsp;
                                  <a onclick="return confirmDelete('Are you sure want to permanently delete this message?')" href="/alarm/remove/LVMSB1/5ec5dbe01f41500980bee473">
                                <button title="Delete" type="button" class="btn btn-default" style="background-color: #0eaf04d1">       <img src="../images/icons/icon_wise-white/delete.png" style="width: 22px;height: 22px;"></button>
                                    </a>
                              </div>
                        </div>
                </div>
            </div>
    
        <!-- Start Modal -->
        <div id="5ec5dbe01f41500980bee473" class="modal fade in" data-easein="expandIn" tabindex="-1" role="dialog" aria-labelledby="costumModalLabel" aria-hidden="true" style="opacity: 1;">
            <div class="modal-backdrop fade in" style="opacity: 0.6;"></div>
            <div class="modal-dialog">
              <form class="modal-content"  method="post">
                  <div class="modal-header">
                      <button type="button" onclick="document.getElementById('5ec5dbe01f41500980bee473').style.display='none'" class="close" title="Close Modal" style="color:white;opacity: 1;">
                          <img src="../images/icons/icon_wise-white/close.png" width="25">
                      </button>
                      <h3 class="modal-title" style="width: 100%;text-align: center;">
                        <i class="fa fa-user" style="margin-right:5px"></i>
                       123 -456
                      </h3>
             
                  </div>
                  <div class="modal-body">
                    <div class="form-grid-title" style="color:white;">
                     
                      <div class="detail-grid">
               
                        <p><i class="fa fa-circle" style="font-size: 24px;margin:0 10px 0 3px;"></i><label>22</label></p>
                        <p><img src="/static/images/img-icon/overload.png" style="width: 25px;height: 25px;margin-right: 5px;"> 44</p>
                        <p><img src="/static/images/img-icon/createAt.png" style="width: 25px;height: 25px;margin-right: 5px;">  <span>1/05/2020-08:39:44 am </span></p>
                        <p><img src="/static/images/img-icon/update.png" style="width: 25px;height: 25px;margin-right: 5px;"> <span>   1/05/2020-08:39:44 am
                         </span>
                        </p>
                        <p><img src="/static/images/img-icon/users.png" style="width: 25px;height: 25px;"> <span> 111</span></p>
                        <p>
                          <a href = "#"><div class="label-border" style="padding:5px;box-shadow: 0 5px 18px rgba(0,0,0,0.25), 0 5px 5px rgba(0,0,0,0.22);background-color: #2b6d7bf0;"><textarea name="Note" type="text" rows="2" style="width:100%;color: #000;border-bottom: 2px solid #fff !important; outline: none; background-color: transparent; border: none;font-size: 18px;color: white;">oke</textarea></div></a>
                        </p>
  
                        <div class="col-md-12" style="text-align: center;">
                          <button type="submit" class="btn btn-default" style="background-color: #72A95E;color: white;font-size: 18px;"><i class="fa fa-save" style="margin-right:5px;font-size: 18px;"></i>Save</button>
                        </div>
                  
                      
                      </div>
                  </div>
                  </div>
             </form>
              </div>
          </div>
          <!-- End Modal -->
          </div>
          </section>
            
          <section id="content2">
              <div class="table-responsive">
                  <table class="table">
                    <thead>
                        <tr>
                            <th style="min-width: 50px;">STT</th>
                            <th style="min-width: 80px;">Time</th>
                            <th style="min-width: 130px;">Nhiệt độ khói thải (*C)</th>
                            <th style="min-width: 130px;">Nhiệt độ nước (*C)</th>
                            <th style="min-width: 80px;">Áp suất hơi (*C)</th>
                            <th style="min-width: 80px;">Chân không buồng đốt (*C)</th>
                            <th style="min-width: 80px;">Buồng đốt TS1 (*C)</th>
                            <th style="min-width: 80px;">Buồng đốt TS2 (*C)</th>
                            <th style="min-width: 130px;">Áp suất gió (*C)</th>
                          
                        </tr>
                    </thead>
                      <tbody style="overflow-y: auto;">
                            <tr >
                                <td align="center">1</td>
                                <td> 565</td>
                                <td>66</td>
                                <td>35643</td>
                                <td>65</td>
                                <td>655</td>
                                <td>26562</td>
                                <td>448</td>
                                <td>565</td>
                            </tr>
                            <tr >
                                <td align="center">1</td>
                                <td> 565</td>
                                <td>66</td>
                                <td>35643</td>
                                <td>65</td>
                                <td>655</td>
                                <td>26562</td>
                                <td>448</td>
                                <td>565</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 565</td>
                                <td>66</td>
                                <td>35643</td>
                                <td>65</td>
                                <td>655</td>
                                <td>26562</td>
                                <td>448</td>
                                <td>565</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 565</td>
                                <td>66</td>
                                <td>35643</td>
                                <td>65</td>
                                <td>655</td>
                                <td>26562</td>
                                <td>448</td>
                                <td>565</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 565</td>
                                <td>66</td>
                                <td>35643</td>
                                <td>65</td>
                                <td>655</td>
                                <td>26562</td>
                                <td>448</td>
                                <td>565</td>
                                </tr>
                            <tr >
                                <td align="center">1</td>
                                <td> 11</td>
                                <td>2452</td>
                                <td>33</td>
                                <td>464</td>
                                <td>2542</td>
                                <td>33</td>
                                <td>44</td>
                                <td>655</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 11</td>
                                <td>22</td>
                                <td>33</td>
                                <td>4644</td>
                                <td>242</td>
                                <td>33</td>
                                <td>644</td>
                                <td>55</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 11</td>
                                <td>22</td>
                                <td>3463</td>
                                <td>55</td>
                                <td>22</td>
                                <td>363</td>
                                <td>464</td>
                                <td>55</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 11</td>
                                <td>22</td>
                                <td>33</td>
                                <td>55</td>
                                <td>22</td>
                                <td>343</td>
                                <td>444</td>
                                <td>55</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 11</td>
                                <td>22</td>
                                <td>633</td>
                                <td>55</td>
                                <td>226</td>
                                <td>33</td>
                                <td>44</td>
                                <td>565</td>
                                </tr>
                                <tr >
                                <td align="center">1</td>
                                <td> 11</td>
                                <td>22</td>
                                <td>343</td>
                                <td>55</td>
                                <td>22</td>
                                <td>33</td>
                                <td>44</td>
                                <td>556</td>
                                </tr>
                                
                        </tbody>
                    </table>
                      
              </div>
          </section>
    
        </main>
    </div>


</body>
<script src="js/diagram/request.js"></script>

</html>