.form-body {
  position: absolute;
  right:0px;
}
p {
  margin-bottom: 0;
}
.form-work-all {
  position: relative;
}
.form-work-header {
  background-color: #6b757f47;
  color: #fff;
  position: absolute;
  width: 92%;
  left: -5%;
  box-shadow: 0 9px 13px rgba(0,0,0,0.30), 4px 4px 4px 0px rgba(0,0,0,0.22);
  top: -5%;
  border-radius: 2px;
}
.form-work-header h4 {
  font-size: 18px;
  text-indent: 25px;
  margin: 5px 0;
}
.form-work-body {
  margin-top:20px;
}
.form-work-body p {
  font-size: 16px;
}
.form-department label {
  padding:0 ;
}
.form-department span {
  min-width:80px;
  display: inline-block;
}
.user-content {
  font-size: 12px;
}
.form-content-header {
  align-items: baseline;
}
.form-content-header h4 {
  padding-bottom: 5px;
}
.form-content-header span, .form-content-header h4 {
  font-size: 16px;
}
.dropdown .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropdown .dropdown-menu.dropdown-primary .dropdown-item:active, .dropdown .dropdown-menu.dropdown-primary .dropdown-item.active, .dropup .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropup .dropdown-menu.dropdown-primary .dropdown-item:active, .dropup .dropdown-menu.dropdown-primary .dropdown-item.active, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropleft .dropdown-menu.dropdown-primary .dropdown-item:active, .dropleft .dropdown-menu.dropdown-primary .dropdown-item.active, .dropright .dropdown-menu.dropdown-primary .dropdown-item:hover, .dropright .dropdown-menu.dropdown-primary .dropdown-item:active, .dropright .dropdown-menu.dropdown-primary .dropdown-item.active {
  background-color: #23846eeb !important;
  border-radius: .125rem;
  -webkit-box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
  box-shadow: 0 5px 11px 0 rgba(0,0,0,0.18), 0 4px 15px 0 rgba(0,0,0,0.15);
}
#form-fan {
  position: relative;
  top: 35em;
  left: 26em;
}
#form-fan-mini1 {
  position: relative;
  top: 35em;
  left: 57em;
}
#form-fan-mini2 {
  position: relative;
  top: 35em;
  left: 74em;
}
.detail-grid {
  box-shadow: inset 0 4px 2px rgba(255,255,255,0.1), 0 4px 4px rgba(0,0,0,0.5), 0 7px 7px 1px rgba(0,0,0,0.3);
    border-radius: 10px;
    color: white;
    padding: 15px;
}
.measure-body {
}
.measure-body .title-name {
  float: left;
  margin-right:8px;
  display: inline-block;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  height: 110px;
  width:110px;
  text-align: center;
  background: #1142371f;
  position: relative;

  -webkit-perspective: 1000;
  /* display: flex; */
}
.title-name .number {
  display: block;
  line-height: 28px;
  font-size: 28px;
  color:#fff;
  text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.4);
}
.title-name img {
  height: 35px;
  margin-right: 5px;
}
.measure-body .title-name span{
  color: #f7ce04de;
}
.title-name span {
  font-size: 14px;
  line-height:1.2;
  min-height: 30px;
}
.title-name span.title-parameter {
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hidden-form1,.hidden-form2,.hidden-form3,.hidden-form4,.hidden-form5,.hidden-form6,.hidden-form7,.hidden-form8,.hidden-form9,.hidden-form10,.hidden-form11,.hidden-form12,.hidden-form13,.hidden-form14,.hidden-form15 {
  z-index: 9;
  display: none;
  position:absolute;

 }
.hidden-form1 .item,.hidden-form2 .item,.hidden-form3 .item,.hidden-form4 .item,.hidden-form5 .item,.hidden-form6 .item,.hidden-form7 .item,.hidden-form8 .item,.hidden-form9 .item,.hidden-form10 .item,.hidden-form11 .item,.hidden-form12 .item,.hidden-form13 .item,.hidden-form14 .item,.hidden-form15 .item {
  width: 500px;
  height: 50px;
}

.handle:hover {
  cursor: move;
}

.item > * {
position: relative;

}

.handle {
  display: flex;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 50px;
  justify-content: space-between;

}
.handle button.close {
  opacity: 1;
  background-color: #58585840;
}
.form-chart-diagram {
  background-color: #58585840;
  color: #fff;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 9;
  font-size: 30px;
  padding-left: 5px;
}
#chart-diagram1 {
  background-color: #58585840;
}
.detail-parameters {
  display: flex;
  flex-direction: column;
}
label.control-label.col-md-7 {
  margin-bottom: 0;
  vertical-align: middle;
  display: flex;
  align-items: flex-end;
}
.modal-footer {
  padding-top:0px;
}
.modal-footer button {
  background-color: #1563518f;
}
.modal-footer button:hover {
  background-color: #1563518f;
}
/******************************* form-modal-apsuat ***********************************/
.user-account {
  position: absolute;
  min-width: 300px;
}
.fade:not(.show) {
  opacity: 1;
}
.form-group .wise_btn-action {
  display: block;
  font-size: 20px;
  width: 80px;
  margin: 0 auto;
  height: 80px;
  border-radius: 50%;
}
.modal-dialog {
 
}
.modal-header {
  border-bottom: 1px solid #dee2e630;
}
.modal-footer {
  border-bottom: none;
}
.modal.fade .modal-dialog {
  transform: translate(0, 0);
  max-width: 400px;
}
.modal-dialog .close {
  opacity: 1;
}
.modal-backdrop.fade.in {
  opacity: .5;
}
.modal-dialog input {
  background: transparent;
  color: #fff;
  border: none;
  border-bottom: 2px solid;
  box-shadow: none;
  border-radius: 0;
}
.resetSetup {
  position: relative;
  left:-25px;
  font-size:18px;
  font-weight:bold;
  color:#fff;
  border:none;
  padding:0 10px;
  display: flex;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  border-radius: 4px;
  background-color: #1f69584a;
}
.resetSetup:hover {
  background-color: #247764;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

/************************ 2. Button action ***************************/
.wise_btn {
  display: inline-block;
  font-weight: 400;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: .25rem;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out}
@media (prefers-reduced-motion: reduce) {
  .wise_btn {
  transition: none}
}

.wise_btn-action {
background:#2477648c ;
color:#fff;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s;
  transform: scale(1);
}

.wise_btn-action:hover {
background-color:#247764cc;
color:#fff;
transform: scale(1.05);
  transition: .3s;
}
.wise_btn-action.focus,.wise_btn-action:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
outline:none;
}
.wise_btn-action:not(:disabled):not(.disabled).active,.wise_btn-action:not(:disabled):not(.disabled):active,.show>.wise_btn-action.dropdown-toggle {
  color: #fff;
  background-color:#0062cc;
  border-color:#005cbf}
.wise_btn-action:not(:disabled):not(.disabled).active:focus,.wise_btn-action:not(:disabled):not(.disabled):active:focus,.show>.wise_btn-action.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5)
}

/**** button them, khoi tao ****/
.wise_btn-add {
background:#234a8ad9 ;
color:#fff;
box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition: all 0.3s;
  transform: scale(1);
}

.wise_btn-add:hover {
background-color:#1a52abd9;
color:#fff;
transform: scale(1.05);
  transition: .3s;
}
.wise_btn-add.focus,.wise_btn-add:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5);
outline:none;
}
.wise_btn-add:not(:disabled):not(.disabled).active,.wise_btn-add:not(:disabled):not(.disabled):active,.show>.wise_btn-add.dropdown-toggle {
  color: #fff;
  background-color:#0062cc;
  border-color:#005cbf}
.wise_btn-add:not(:disabled):not(.disabled).active:focus,.wise_btn-add:not(:disabled):not(.disabled):active:focus,.show>.wise_btn-add.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5)
}

/************************ END Button action ***************************/

/************************ 3. Dropdown ***************************/
/************************ END Dropdown action ***************************/

/* .btn-primary:hover {
  color: #fff;
  background-color: #0069d9;
  border-color: #0062cc}
.btn-primary.focus,.btn-primary:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5)}
.btn-primary.disabled,.btn-primary: disabled {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff}
.btn-primary: not(: disabled): not(.disabled).active,.btn-primary: not(: disabled): not(.disabled):active,.show>.btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #0062cc;
  border-color: #005cbf}
.btn-primary: not(: disabled): not(.disabled).active:focus,.btn-primary: not(: disabled): not(.disabled):active:focus,.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(38,143,255,.5)} */
