<!DOCTYPE html>
<html lang="en">

<head>
  <title>Wise Scada</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="keywords" content="Gaming Login Form Widget Tab Form,Login Forms,Sign up Forms,Registration Forms,News letter Forms,Elements"/>
  <link rel="stylesheet" href="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/css/mdb.min.css"/>
  <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.11.0/css/all.css">
  <link rel="stylesheet" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/compiled-addons-4.19.1.min.css">
  <link rel="stylesheet" href="/css/style.css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/css/mdb-plugins-gathered.min.css">
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" ></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" crossorigin="anonymous"></script>
  <script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/js/jquery.min.js"></script>
  <script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/js/mdb.min.js"></script>
  <script type="text/javascript" src="https://mdbootstrap.com/api/snippets/static/download/MDB-Pro_4.19.1/js/popper.min.js"></script>
  <script type="text/javascript" src="https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/plugins/mdb-plugins-gathered.min.js"></script>

</head>
    <%- include('./../navbar/navbar.ejs') %>

<body>
  <div class="modal-backdrop fade in" style="opacity: 0.6;"></div>
    <form action="/chart" style="position: relative;z-index: 1111; min-width: 600px;margin:60px auto;padding:20px;background-color:#1f1f1f00 ;height: max-content;border-radius: 4px;  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);">
      <div class="query-header text-center" style="display:flex;">
        
        <h3 class="query-title w-100 font-weight-bold" style="width:100%;color: white;">Date Time</h4>
          <a href="/homepage" type="button"  class="close" title="Close" style="color:white;opacity: 1;">
            <img src="../images/icons/icon_wise-white/close.png" width="25">
          </a>
      </div>
        <div class="query-datetime" style="padding:10px 80px;text-align:center">
          <div  class="form-group input-with-post-icon " style="display:flex;position: relative;">
            <label   style="font-size: 20px;min-width: 100px;">Start Date</label>
            <input id="date-picker-example" style="color:#fff;background:transparent;border:none;box-shadow:none;border-radius: 0;border-bottom:2px solid #fff;" id="start-date" name="startDate" class="form-control datepicker" autocomplete="off">
            <i class="fas fa-calendar input-prefix" style="font-size: 20px;color:#fff;position: absolute;right:0"></i> 
        </div>
        <div  class="form-group input-with-post-icon " style="display:flex;position: relative;">
          <label   style="font-size: 20px;min-width: 100px;">End Date</label>
            <input    style="color:#fff;background:transparent;border:none;box-shadow:none;border-radius: 0;border-bottom:2px solid #fff;" id="end-date" name="endDate" class="form-control datepicker" autocomplete="off">
             <i class="fas fa-calendar input-prefix" style="font-size: 20px;color:#fff;position: absolute;right:0"></i> 
          </div>

        <button type="submit" class="btn btn-search"  href="/chart" style="background-color: #114237ab;font-size: 16px;color: white;margin:1rem 0"><img width="25" src="../images/icons/icon_wise-white/search.png"/>Search</button>
        </div>
    </form>

</body>

    <script src="../js/chart/queryChart.js"></script>

</html>