<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Wise Scada</title>
    <link rel="shortcut icon" href="images/logo_favicon/favicon-trungquandev.png" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/AlertifyJS/build/css/alertify.css">
    <link rel="stylesheet" href="https://allfont.net/allfont.css?fonts=windsor"  type="text/css" />
    <link rel="stylesheet" href="css/login/styleLogin.css"/>
    <link rel="stylesheet" href="css/auth.css"  />

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/AlertifyJS/build/alertify.js"></script>

    <script src="js/authConfig.js" type="text/javascript"></script>
</head>
<body>
    <div class="form-login">
        <div class="container">
            <div class="col-sm-2"></div>
            <div class="col-sm-8 my-content">
                <div class="row">
                    <div class="col-sm-12">
                        <div class="box">
                            <div class="content">

                                <div class="error"></div>
                                <div class="wrapper">
                                    <form class="login" method="POST" action="/login">

                                        <img src="/images/logo_favicon/logo_scada.png" width="200" style="margin:0 auto;display:block">

                                    <h1 style="color:white;position:relative;top:-10px;letter-spacing:-1px;text-align:center; font-family: 'Audiowide-Regular', sans-serif;font-size:40px"> WISE - Scada</h1>
                                      <input type="text" name="email" placeholder="Email" class="form-control" autocomplete="off" required autofocus/>
                                      <i class="fa fa-user"></i>
                                      <input type="password" name="password" placeholder="Password" class="form-control" required />
                                      <i class="fa fa-key"></i>

                                      <%- include('alert/alert.ejs'); %>

                                      <input type="submit" value="lOGIN" class="btn btn-default btn-login">
                                    </form>
                                    </p>
                                  </div>
                            </div>
                        </div>
                    </div>
                </div>
        
            </div>

            <div class="col-sm-2"></div>
        </div>
    </div>

    <script src="js/login/login.js"></script>

</body>
</html>